body{
	margin:0;
}

nav{
	background:#24292E;
}

nav.primaryNav{
	padding: 15px 20px;
	display: grid;
	grid-template-columns: auto auto 1fr;
}

i.fa-bars{
	display: none;
}

.searchGithub{
	display: grid;
	grid-template-columns: 1fr 23px;
	place-items: center start;
}

.searchGithub-input{
	padding: 6px 10px;
	background: transparent;
	border: 1px solid #666;
	border-radius: 5px;
}

.searchGithub-input:focus{
	background: #fff;
	outline:none;
	border:1px solid #0366D6;
}

.primaryNav .searchGithub-input{
	width: 	250px;
}

.secondaryNav .searchGithub-input{
	width: 	100%;
}
.primaryNav .searchGithub-input:focus{
	width: 98%;
}


.searchSlash{
	padding: 1px 6px;
	border: 1px solid #666;
	color: 	#F1F2F2;
	font-size: 	12px;
	border-radius: 	3px;
	position: relative;	
}


.primaryNav .searchGithub .searchSlash{
	right: 22px;
}

.secondaryNav .searchGithub .searchSlash{
	right: 5px;
}

.fa-github{
	font-size: 	32px;
	color: 	#fff;
	cursor: pointer;	
}

.fa-github:hover, 
.nav-second a:hover, 
.nav-third a:hover, 
.secondaryNav a li:hover,
i.fa-bars:hover{
	color: #c1c1c1;
}

.nav-first{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 20px;
	align-items: center;		
}

.nav-second{
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.nav-second a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
}

.nav-third{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 15px;
}


.nav-bellGroup .fa-bell{
	font-size: 20px;
	position: relative;
	bottom: 5px;
}
.nav-profileGroup, .nav-plusGroup{
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.nav-third a{
	color:#f2f1f1;
	text-decoration: none;
}

.nav-plusGroup .fa-plus{
	color: #C9CACB;
	font-size: 14px;
}

.nav-third .fa-caret-down{
	font-size: 10px;
}
.profilePhoto{
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.pullRequest{
	display: flex;
}

.pullRequest .request{
	margin-left: 5px
}

.nav-bellGroup{
	display: grid;
	grid-template-rows: auto auto;
}

.nav-bellGroup .blue-circle{
	height:11px;
	width:11px;
	border-radius: 50%;
	background: #2686F5;
	justify-self:end;
	z-index: 1;
	position: relative;
	left: 1px;
	top:2px;
}
.secondaryNav {
	padding: 20px 20px 6px;
}

.toggleHide{
	display: none;
}

.secondaryNav ul{
	list-style-type: none;
	padding: 0;
}

.secondaryNav ul a{
	display: flex;	
	column-gap: 5px;
	align-items: center;
	border-top: 1px solid #666;
	width: 	100%
}


.secondaryNav .fa-sign-out-alt{
	color: inherit;
}

.secondaryNav ul li {
	padding: 10px 0;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;

}
@media screen and (min-width: 1015px){
	.pullRequest .s{
		display: none
	}
}

@media screen and (max-width: 1015px){
	.pullRequest .request{
		display: none
	}
}

@media screen and (max-width: 765px){
	
	i.fa-bars{
		display: block;
		color: #fff;
		font-size: 25px;
		align-self: center;
		cursor: pointer;
	}

	nav.primaryNav{
		grid-template-columns: auto 1fr auto;
	}

	.hide{
		display: none;
	}
	
	.nav-first{
		place-self:center;	
	}
}


/*body*/

.main{
	max-width: 1200px;
}

.userProfile, .repositoriesSearchContainer{
	padding: 0 20px
}

.totalPublicRepositories, .repositoriesContainer{
	margin: auto 20px;
}

.profileFigure{
	display: grid;
	grid-template-rows: 1fr auto;
	grid-gap: 15px 0;
}

.profileFigure img {
	width: 24vw;
	height: 24vw;
	max-width: 250px;
	max-height: 250px;
	border-radius: 100%;
}

.profileSecondaryData{
	display: grid;	
}

.profileSecondaryData .profileStatus{
	display: flex;
	column-gap: 5px;
	padding: 8px;
	background: #fff;
	border: 1px solid #e1e4e8;
	color: #555;	
}

.profileSecondaryData .profileStatus:hover{
	cursor: pointer;
	color: #2686F5;
}

.profilePrimaryData{
	display: grid;	
	grid-template-rows: 1fr auto;
	grid-gap: 5px 0
}


.profilePrimaryData .name{
	color: #24292E;
	font-weight: bold;
	font-size: 	22px;
}

.profilePrimaryData .userName{
	color: #6B727A;
	font-size: 	20px;	
}

.profileSecondaryData .userTitle{
	font-size: 18px;
	color: #24292E;
}

.repositoriesPage-main{
	display: grid;
	grid-template-rows: auto auto 1fr; 
}

.repositoriesTab{
	background: #fff;
	overflow-x: auto;
	display: flex;
	flex-wrap: nowrap;
}

.rule{
	color: red;
	background: blue;
	position: relative;	
	top: 76px;
	z-index	: -1;
}

.repositoriesTab div{
	display: grid;
	grid-template-columns: auto auto; 
	padding: 10px;
	color: #24292E;
	align-items: center;
	column-gap: 8px;
	cursor:pointer;
	font-size: 14px;
	border-bottom: 2.5px solid #fff;
	box-sizing: border-box;
}

.repositoriesTab div:hover{
	border-bottom: 2.5px solid #E8EAEC;
	box-sizing: border-box;
}

.repositoriesTab div .fa{
	padding: 0 5px;
}

.repositoriesTab .fa{
	color: #24292E;
}

.repositoriesTab .repositories{
	grid-template-columns: auto auto auto; 
	font-weight: bold;
	border-bottom: 2px solid #F9826C;
}

.repositoriesTab .repositories:hover{
	border-bottom: 2px solid #F9826C;
}

#fa-stream{
	border: 1px solid #24292E;
	padding: 2px;
	font-size: 10px;
	border-radius: 1px;
	transform: rotate(90deg);
}

span.repoCount{
	background: #E8EAEC;
	padding: 3px 8px;
	text-align: center;
	border-radius: 10px;
	font-weight: normal;
	font-size: 13px
}

.repositoriesSearch{
	width: 94%;
	padding: 10px 15px;
	margin: 20px 10px;
	border: 1px solid #E8EAEC;
	border-radius: 5px;
}

.repositoriesSearch:focus{
	border: 1px solid #0366D6;
	outline: none;
	box-shadow: 0 0 5px 0 #0366D6;

}

.repositoriesContainer{
	border-top: 1px solid #C1C1C1;
}

.totalPublicRepositories{
	padding: 10px 0;
}
.repository{
	color: 	#444;
	display: grid;
	grid-template-columns: 	1fr auto;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #C1C1C1;	
}

.repository div{
	margin: 5px 0;
}

.primaryRepositoryData{
	display: flex;
	column-gap: 15px;
	align-items: center;	
}

.isPrivate{
	padding: 1px 6px;
	border: 1px solid #C1C1C1;
	font-size: 	12px;
	font-weight: bold;	
	border-radius: 10px;
	position: relative;	
	top: 2px;
}

.repositoryName{
	padding: 2px 0;
	color: 	#0366D6;
	font-weight: bold;
	font-size: 	20px;
	cursor: pointer;	
}

.repositoryName:hover{
	text-decoration: underline;	
}

.forkedFrom{
	font-size: 14px;
}

.repositoryStar{
	box-sizing: border-box;
	display: flex;	
	column-gap: 3px;
	align-items: center;
	justify-content: center;		
	padding: 5px 10px;
	border: 1px solid #C1C1C1;
	border-radius: 6px;
	justify-self:end;
	cursor: pointer;	
}

.repositoryStar:hover{
	background: #f1f1f1;
}

.repositoryStarText{
	color: 	#24292E;
	position: relative;	
	top: 2px;
	font-size: 12px;
}

.secondaryRepositoryData{
	display: flex;	
	column-gap: 15px;
	font-size: 	13px;
	align-items: center;
}

.secondaryRepositoryData span{
	margin: 0 1px;
}

.secondaryRepositoryData .detailContainer{
	display: flex;
	column-gap: 3px;
}

.repositoryForks{
	cursor: pointer;
}

.repositoryForks:hover{
	color: #0366D6;
}


.repositoriesNav-userDetails{
	display: flex;
	column-gap: 5px;
	width: 24vw;
	max-width: 250px;
	align-items: center;
}

.repositoriesNav{
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	z-index: 1;
    border-bottom: 1px solid #9A9A9A;
    background: #fff;
}

.profileLargerPhoto{
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.userName1, .profileLargerPhoto{
	display: none;
}

div.repositoriesNav{
	display: none;
}



@media screen and (min-height: 250px){
	section.repositoriesNav , div.repositoriesNav{
		position: sticky;
		position: -webkit-sticky;
		top: 0;
	}
}
@media screen and (max-width: 765px){

	.profileFigure{
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		column-gap: 25px;
	}
	.profileFigure img {
		width: 20vw;
		height: 20vw;
	}

	.profileSecondaryData{
		grid-template-rows: auto auto;
		grid-gap: 10px;
	}

	.profileSecondaryData .profileStatus{
		column-gap: 10px;
		border-radius: 5px;
	}

	.repositoriesPage-main{
		margin-top: 15px;
	}
	.repositoriesSearchContainer{
		display: grid;
	}
	.repositoriesSearch{
		width: 96%;
		margin: 20px 0;
	}

	.totalPublicRepositories{
		padding: 10px 0;
	}

	.repositoriesNav-userDetails{
		display: none;
	}

	div.repositoriesNav{
		display: block;
	}

	section.repositoriesNav{
		display: none;
	}

}

@media screen and (max-width: 545px){
	.repositoriesTab div .fa{
		display: none
	}
}

@media screen and (max-width: 460px){
	.secondaryRepositoryData{
		display: block;
		column-gap: 5px;
		font-size: 	12px;
	}
	.secondaryRepositoryData .detailContainer{
		display: inline-block;
	}
	.repositoryStar{
		column-gap: 2px;	
		padding: 3px 6px;
		border: 1px solid #C1C1C1;
		border-radius: 3px;	
	}
	.repositoryName{
		font-weight: bold;
		font-size: 	16px;	
	}
	.secondaryRepositoryData .detailContainer span{
		padding: 0 2px;
	}
}

@media screen and (min-width: 765px){
	.profileSecondaryData .profileStatus{
		justify-self:end;	
		place-items:center;
		position: relative;
		bottom: 15.7vw;
		right: 11px;
		border-radius: 50%;
		white-space: nowrap;	
		overflow-x: visible;		
	}

	.main{
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 1%;
		margin: 20px auto 10px;

	}

	.setStatus{
		display: none;
		background: #fff;
	}

	.totalPublicRepositories, .repositoriesContainer{
		margin: 0 10px;
	}

	.repositoriesNav{
		grid-template-columns: auto 1fr;
		column-gap: 1%;
		margin: 20px auto 10px;
		padding: 0 20px;
	}

	.userProfile{
		position: relative;
		bottom: 50px;
		
	}
	section.repositoriesNav{
		margin-top: 20px;
	}

	.userProfile img, .userProfile .profileStatus{
		z-index: 5;
	}
}

@media screen and (min-width: 820px){
	.profileSecondaryData .profileStatus{
		right: 0;
	}	
}

@media screen and (min-width: 856px){
	.profileSecondaryData .profileStatus{
		bottom: 14.7vw;
		right: 	0;
	}
}
@media screen and (min-width: 910px){
	.profileSecondaryData .profileStatus{
		bottom: 140px;
	}
	.main{
		column-gap: 40px;
	}
	.repositoriesNav{
		column-gap: 40px;
		
	}
	
}

@media screen and (min-width: 1300px){
	section.repositoriesNav{
		grid-template-columns: 340px 1fr;
	}
	
}

@media screen and (min-width: 1400px){
	section.repositoriesNav{
		grid-template-columns: 3fr 7fr;
	}
	
}
@media screen and (min-width: 1800px){
	section.repositoriesNav{
		grid-template-columns: 1fr 2fr;
	}
	
}

@media screen and (min-width: 2200px){
	section.repositoriesNav{
		grid-template-columns: 1fr 1.8fr;
	}
	
}