body{
	margin:0;
}

nav{
	background:#24292E;
}

nav.primaryNav{
	padding: 15px 20px;
	display: grid;
	grid-template-columns: auto auto 1fr;
}

i.fa-bars{
	display: none;
}

.searchGithub{
	display: grid;
	grid-template-columns: 1fr 23px;
	place-items: center start;
}

.searchGithub-input{
	padding: 6px 10px;
	background: transparent;
	border: 1px solid #666;
	border-radius: 5px;
}

.searchGithub-input:focus{
	background: #fff;
	outline:none;
	border:1px solid #0366D6;
}

.primaryNav .searchGithub-input{
	width: 	250px;
}

.secondaryNav .searchGithub-input{
	width: 	100%;
}
.primaryNav .searchGithub-input:focus{
	width: 98%;
}


.searchSlash{
	padding: 1px 6px;
	border: 1px solid #666;
	color: 	#F1F2F2;
	font-size: 	12px;
	border-radius: 	3px;
	position: relative;	
}


.primaryNav .searchGithub .searchSlash{
	right: 22px;
}

.secondaryNav .searchGithub .searchSlash{
	right: 5px;
}

.fa-github{
	font-size: 	32px;
	color: 	#fff;
	cursor: pointer;	
}

.fa-github:hover, 
.nav-second a:hover, 
.nav-third a:hover, 
.secondaryNav a li:hover,
i.fa-bars:hover{
	color: #c1c1c1;
}

.nav-first{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 20px;
	align-items: center;		
}

.nav-second{
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.nav-second a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
}

.nav-third{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 15px;
}


.nav-bellGroup .fa-bell{
	font-size: 18px;
}

.nav-profileGroup, .nav-plusGroup{
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.nav-third a{
	color:#f2f1f1;
	text-decoration: none;
}

.nav-plusGroup .fa-plus{
	color: #C9CACB;
	font-size: 14px;
}

.nav-third .fa-caret-down{
	font-size: 10px;
}
.profilePhoto{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 0.1px solid #C9CACB;
}

.pullRequest{
	display: flex;
}

.pullRequest .request{
	margin-left: 5px
}

.secondaryNav {
	padding: 20px 20px 6px;
}

.toggleHide{
	display: none;
}

.secondaryNav ul{
	list-style-type: none;
	padding: 0;
}

.secondaryNav ul a{
	display: flex;	
	column-gap: 5px;
	align-items: center;
	border-top: 1px solid #666;
	width: 	100%
}


.secondaryNav .fa-sign-out-alt{
	color: inherit;
}

.secondaryNav ul li {
	padding: 10px 0;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;

}
@media screen and (min-width: 1015px){
	.pullRequest .s{
		display: none
	}
}

@media screen and (max-width: 1015px){
	.pullRequest .request{
		display: none
	}
}

@media screen and (max-width: 765px){
	
	i.fa-bars{
		display: block;
		color: #fff;
		font-size: 25px;
		align-self: center;
		cursor: pointer;
	}

	nav.primaryNav{
		grid-template-columns: auto 1fr auto;
	}

	.hide{
		display: none;
	}
	
	.nav-first{
		place-self:center;	
	}
}


/*body*/

.main{
	max-width: 1200px;
}

.userProfile{
	padding: 20px
}

.totalPublicRepositories, .repositoriesContainer{
	margin: auto 20px;
}

.profileFigure{
	display: grid;
	grid-template-rows: 1fr auto;
	grid-gap: 15px 0;
}

.profileFigure img {
	width: 24vw;
	height: 24vw;
	max-width: 250px;
	max-height: 250px;
	border-radius: 100%;
}

.profileSecondaryData{
	display: grid;	
}

.profileStatus_container{
	display: grid;
}

@media screen and (min-width: 765px){
	.profileStatus_container{
		height: 20px;
	}
}
.profileStatus{
	display: flex;
	column-gap: 5px;
	padding: 8px;
	background: #fff;
	border: 1px solid #e1e4e8;
	color: #555;
	border-radius: 5px;	
}

.profileStatus:hover{
	cursor: pointer;
	color: #2686F5;
}

.profilePrimaryData{
	display: grid;	
	grid-template-rows: 1fr auto;
	grid-gap: 5px 0
}


.profilePrimaryData .name{
	color: #24292E;
	font-weight: bold;
	font-size: 	22px;
}

.profilePrimaryData .userName{
	color: #6B727A;
	font-size: 	20px;	
}

.profileSecondaryData .userTitle{
	color: #24292E;
}

.repositoriesPage-main{
	display: grid;
	grid-template-rows: auto auto 1fr; 
}

.repositoriesTab{
	background: #fff;
	overflow-x: auto;
	display: flex;
	flex-wrap: nowrap;
}

.rule{
	color: red;
	background: blue;
	position: relative;	
	top: 76px;
	z-index	: -1;
}

.repositoriesTab div{
	display: grid;
	grid-template-columns: auto auto; 
	padding: 10px;
	color: #24292E;
	align-items: center;
	column-gap: 8px;
	cursor:pointer;
	font-size: 14px;
	border-bottom: 2.5px solid #fff;
	box-sizing: border-box;
}

.repositoriesTab div:hover{
	border-bottom: 2.5px solid #E8EAEC;
	box-sizing: border-box;
}

.repositoriesTab div .fa{
	padding: 0 5px;
}

.repositoriesTab .fa{
	color: #24292E;
}

.repositoriesTab .repositories{
	grid-template-columns: auto auto auto; 
	font-weight: bold;
	border-bottom: 2px solid #F9826C;
}

.repositoriesTab .repositories:hover{
	border-bottom: 2px solid #F9826C;
}

#fa-stream{
	border: 1px solid #24292E;
	padding: 2px;
	font-size: 10px;
	border-radius: 1px;
	transform: rotate(90deg);
}

span.repoCount{
	background: #E8EAEC;
	padding: 3px 8px;
	text-align: center;
	border-radius: 10px;
	font-weight: normal;
	font-size: 13px
}


.repositoriesSearchContainer{
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items:center;
	column-gap: 15px;
	padding-right: 15px;
	margin-left: 10px;
}

.repositoriesSearchContainer_button{
	padding: 10px 17px;
	background: #FAFBFC;
	border: 1.5px solid #E8EAEC;
	border-radius: 	10px;
	color:  #24292E;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.5s;
}

.userProfile_extras{
	display: flex;
	column-gap: 5px;
}

.userProfile_following{
	display: flex;
	column-gap: 3px;
	margin-bottom: 20px;
}

.userProfile_secondaryData, .userProfile_following, .userProfile_secondaryData a, .userProfile_following a{
	color: #24292E;
	font-weight: 500
}

.userProfile_secondaryData a, .userProfile_following a{
	text-decoration: none;
}

.userProfile_secondaryData a:hover, .userProfile_following a:hover{
	text-decoration: underline;
	color: #0366D6;
}

.userProfile_secondaryData .fa, .userProfile_following .fa, .grey{
	color: #586069;
}
.userProfile_secondaryData div{
	margin: 7px auto;
}


.userProfile_following_seperators{
	position: relative;
	bottom: 3px;
	color: #24292E;
	font-weight: bold; 
}

.userProfile_extras .fa{
	width: 20px;
	text-align: center;
}
.repositoriesSearchContainer_button:hover{
	background: #F4F3F3;
}

.userProfile_following .userProfile_extras:hover{
	cursor: pointer;
}

.in_focus{
	color: #0366D6 !important;
}

.button_new{
	background: #2EA44F;
	color:#fff;
}

@media screen and (min-width: 765px){
	.button_new{
		width: 85px;
		position: relative;	
		left: 5px;	
	}
}

.button_new:hover{
	background: #279445;
}


.repositoriesSearchContainer .fa-book{
	color: white;
}

.button_new_main, .filtersContainer_main{
	display: none;
}


.repositoriesSearch{
	padding: 10px 15px;
	border: 1px solid #E8EAEC;
	border-radius: 5px;
}

.repositoriesSearch:focus{
	border: 1px solid #0366D6;
	outline: none;
	box-shadow: 0 0 5px 0 #0366D6;
}


@media screen and (min-width: 765px){
	.repositoriesTab{
		margin-left: 30px;
		position: relative;
		left: 15px;
	}
	section.main {
	    padding: 0 10px;
	}
	nav.primaryNav {
	    padding: 15px 25px;
	}
	.profileButton{
		margin: 15px 0; 
	}
	.display_sm{
		display: none;
	}
}

@media screen and (min-width: 1000px){
	.repositoriesSearchContainer{
		margin: 20px 0;
		margin-left: 10px;
	}
	.primaryNav .searchGithub-input {
    	width: 300px;
	}

	nav.primaryNav {
	    padding: 15px 40px;
	}

	section.main {
	    padding: 0 20px;
	}
}


@media screen and (max-width: 1000px){
	.filtersContainer_main{
		display: flex;
		column-gap: 4px;
		margin: 10px 0;
		margin-left: 10px;
	}

	.filtersContainer_secondary{
		display: none;
	}

	.repositoriesSearchContainer{
		grid-template-columns: 1fr auto;
	}
}

.repositoriesContainer{
	border-top: 1px solid #C1C1C1;
}

@media screen and (max-width: 765px){
	.button_new_secondary{
		display: none;
	}

	.button_new_main{
		display: block;
		margin: 15px auto 5px;
		width: 94%;
		border: 1px solid #E8EAEC;
	}
	.repositoriesSearchContainer{
		grid-template-columns: 1fr auto;
		margin-left: 20px;
	}
	.filtersContainer_main{
		margin-left: 20px;
	}
	.display_lg{
		display: none;
	}
}

.repository{
	color: 	#444;
	display: grid;
	grid-template-columns: 	1fr auto;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #C1C1C1;	
}

.repository div{
	margin: 5px 0;
}

.primaryRepositoryData{
	display: flex;
	column-gap: 15px;
	align-items: center;	
}

.isPrivate{
	padding: 1px 6px;
	border: 1px solid #C1C1C1;
	font-size: 	12px;
	font-weight: bold;	
	border-radius: 10px;
	position: relative;	
	top: 2px;
}

.repositoryName{
	padding: 2px 0;
	color: 	#0366D6;
	font-weight: bold;
	font-size: 	20px;
	cursor: pointer;	
}

.repositoryName:hover{
	text-decoration: underline;	
}

.forkedFrom{
	font-size: 14px;
}

.repositoryStar{
	box-sizing: border-box;
	display: flex;	
	column-gap: 3px;
	align-items: center;
	justify-content: center;		
	padding: 5px 10px;
	border: 1px solid #C1C1C1;
	border-radius: 6px;
	justify-self:end;
	cursor: pointer;	
}

.repositoryStar:hover{
	background: #f1f1f1;
}

.repositoryStarText{
	color: 	#24292E;
	position: relative;	
	top: 2px;
	font-size: 12px;
}

.secondaryRepositoryData{
	display: flex;	
	column-gap: 15px;
	font-size: 	13px;
	align-items: center;
}

.secondaryRepositoryData span{
	margin: 0 1px;
}

.secondaryRepositoryData .detailContainer{
	display: flex;
	column-gap: 3px;
}

.repositoryForks{
	cursor: pointer;
}

.repositoryForks:hover{
	color: #0366D6;
}


.repositoriesNav-userDetails{
	display: flex;
	column-gap: 5px;
	width: 24vw;
	max-width: 250px;
	align-items: center;
}

.repositoriesNav{
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	z-index: 1;
    border-bottom: 1px solid #9A9A9A;
    background: #fff;
}

.profileLargerPhoto{
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.userName1, .profileLargerPhoto{
	display: none;
}

div.repositoriesNav{
	display: none;
}

footer{
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	max-width: 1200px;
	margin: 40px auto 0;
	border-top: 1px solid #c1c1c1;
	padding: 45px 0;
	align-items:center;
	column-gap: 50px;
}

footer div{
	display: flex;
	justify-content: space-between;
	font-size: 0.85rem;
}

footer div div{
	color: #a1a1a1
}

footer a{
	text-decoration: none;
	color: #0366d9;
}
footer a:hover{
	text-decoration: underline;
}

footer i.fa-github{
	color: #d1d5da;
}

footer i.fa-github:hover{
	color: #8c8987;

}

@media screen and (max-width: 1200px){
	footer{
		padding: 25px 3px;
	}
}

@media screen and (max-width: 930px){
	footer{
		display: block;	
	}
	footer i.fa-github{
		display: none;
	}
	footer>div{
		justify-content: center;
		column-gap: 10px;
		padding: 10px;
	}
}


@media screen and (max-width: 350px){
	footer{
		padding: 15px 2px;
		margin: 20px auto 0;
	}
	footer>div{
		column-gap: 2px;
	}
}

@media screen and (min-height: 250px){
	section.repositoriesNav , div.repositoriesNav{
		position: sticky;
		position: -webkit-sticky;
		top: 0;
	}
}
@media screen and (max-width: 765px){

	.profileFigure{
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		column-gap: 25px;
	}
	.profileFigure img {
		width: 20vw;
		height: 20vw;
	}

	.profileSecondaryData{
		grid-template-rows: auto auto;
		grid-gap: 10px;
	}

	.profileSecondaryData .profileStatus{
		column-gap: 10px;
		border-radius: 5px;
	}

	.repositoriesPage-main{
		margin-top: 15px;
	}
	.repositoriesSearchContainer{
		display: grid;
	}
	.repositoriesSearch{
		width: 96%;
		margin: 20px 0;
		position: relative;	
		left: 4px
	}

	.totalPublicRepositories{
		padding: 10px 0;
	}

	.repositoriesNav-userDetails{
		display: none;
	}

	div.repositoriesNav{
		display: block;
	}

	section.repositoriesNav{
		display: none;
	}

	span#bio.userTitle{
		padding: 10px 0;
	}
}


@media screen and (max-width: 690px){
	.repositoriesSearch{
		left: 2px;
	}
}

@media screen and (max-width: 640px){
	.repositoriesSearch{
		left: 0;
	}
}

@media screen and (max-width: 545px){
	.repositoriesTab div .fa{
		display: none
	}
}

@media screen and (max-width: 520px){
	.repositoriesSearchContainer{
		margin-left: 15px;
		width: 	93%
	}

}

@media screen and (max-width: 450px){
	.repositoriesSearchContainer{
		margin-left: 20px;
		width: 	90%
	}
	.button_new_main{
		width: 91%;
	}

}

@media screen and (max-width: 400px){
	.repositoriesSearchContainer{
		width: 	89%
	}

}

@media screen and (max-width: 460px){
	.secondaryRepositoryData{
		display: block;
		column-gap: 5px;
		font-size: 	12px;
	}
	.secondaryRepositoryData .detailContainer{
		display: inline-block;
	}
	.repositoryStar{
		column-gap: 2px;	
		padding: 3px 6px;
		border: 1px solid #C1C1C1;
		border-radius: 3px;	
	}
	.repositoryName{
		font-weight: bold;
		font-size: 	16px;	
	}
	.secondaryRepositoryData .detailContainer span{
		padding: 0 2px;
	}
}

@media screen and (min-width: 765px){
	.profileStatus{
		justify-self:end;	
		place-items:center;
		position: relative;
		bottom: 15.7vw;
		right: 48px;
		border-radius: 50%;
		white-space: nowrap;	
		overflow-x: visible;		
	}

	.main{
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 1%;
		margin: 20px auto 10px;

	}

	.setStatus{
		display: none;
		background: #fff;
	}

	.totalPublicRepositories, .repositoriesContainer{
		margin: 0 10px;
	}

	.repositoriesNav{
		grid-template-columns: auto 1fr;
		column-gap: 1%;
		margin: 20px auto 10px;
		padding: 0 20px;
	}

	.userProfile{
		position: relative;
		bottom: 50px;
		padding: 0 20px;
		
	}
	section.repositoriesNav{
		margin-top: 20px;
	}

	.userProfile img, .userProfile .profileStatus{
		z-index: 5;
	}
}


@media screen and (min-width: 845px){
	.profileStatus{
		bottom: 14.7vw;
		right: 	30px
	}
}
@media screen and (min-width: 910px){
	.profileStatus{
		bottom: 130px;
		right: 15px;
	}
	.main{
		column-gap: 20px;
	}
	.repositoriesNav{
		column-gap: 40px;
		
	}
	
}

@media screen and (min-width: 1300px){
	section.repositoriesNav{
		grid-template-columns: 340px 1fr;
	}
	
}

@media screen and (min-width: 1400px){
	section.repositoriesNav{
		grid-template-columns: 3fr 7fr;
	}
	
}
@media screen and (min-width: 1800px){
	section.repositoriesNav{
		grid-template-columns: 1fr 2fr;
	}
	
}

@media screen and (min-width: 2200px){
	section.repositoriesNav{
		grid-template-columns: 1fr 1.8fr;
	}
	
}